.page {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 40px 0 60px;
}

.page > :first-child {
    order: 2;
}

.page > :last-child {
    order: 1;
    flex: 1;
}

@media (max-width: 1024px) {
    .page {
        flex-direction: column;
        gap: 20px;
        padding: 24px 0 40px;
    }

    .page > :first-child {
        order: 1;
    }

    .page > :last-child {
        order: 2;
    }
}

@media (max-width: 768px) {
    .page {
        padding: 16px 0 32px;
    }
}
