.postsPageContainer{
    margin: 0 auto;
    padding: 40px 20px;
    width:100%;
    max-width: 1406px;
}

.postsContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 0;
}