.section {
    margin-top: 41px;
}

.sectionCompact {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .section {
        margin-top: 24px;
    }

    .sectionCompact {
        margin-top: 12px;
    }
}
